@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html,
body {
	 font-family: Gill Sans, sans-serif;
   word-wrap: break-word;
   background-color: inherit;
}
.green {
	color: rgb(0, 159, 0);
}
.bg-green {
	background-color: rgb(0, 159, 0);
}

.gold {
	color: rgb(255, 199, 44);
}
.bg-gold {
	background-color: rgb(255, 199, 44);
}

.bg-none {
	background-color: inherit;
}

a {
	color: rgb(0, 159, 0);
}
a.btn-light {
	color: rgb(0, 159, 0) !important;
}
a:hover {
	color: rgb(255, 199, 44);
}
a:visited {
	color: rgb(0, 159, 0);
}
a.nostyle-link {
  color: inherit;
}

/*
.green {
	color: #059135;
}
.bg-green {
	background-color: #059135;
}
.bg-green {
	background-color: #008000;
}
.bg-green {
	background-color: #009747;
}
*/

pre.code {
  border: 1px solid #888;
  border-radius: 3px;
  background-color: #fff;
  padding: .25rem;
}

.masonry {
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; */
  display: flex; /* uses flexbox */
  /* -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap; */
  flex-wrap: wrap; /* wraps overflowing elements to next line */
  justify-content: space-between; /* justifies elements but leaves outer edges aligned*/
}
.masonry * {
  margin: 0.2em;
  flex-grow: 1; /* makes all elements expand to fill*/
}